:host ::ng-deep #back-to-login-link:hover > svg{
	animation: 0.4s linear infinite alternate prod-left;
}

@keyframes prod-left{
	from{
		transform: translateX(0);
	}
	to{
		transform: translateX(-5px);
	}
}
