<p-toast />
<div class="xl:w-1/4 lg:w-1/3 md:w-1/2 w-11/12 mx-auto">
	<div class="flex flex-col items-center text-center mb-8 gap-1">
		<svg class="w-16" kumbuka-logo></svg>
		<h4 class="font-semibold text-2xl">Welcome Back</h4>
		<p class="text-neutral-400">
			Access your dashboard and manage your lending circles with clarity and ease
		</p>
	</div>
	<p-card class="text-sm">
		<form [formGroup]="PasswordLoginForm" (ngSubmit)="onSubmit('password')">
			<div class="flex flex-col gap-1 my-3">
				<label for="email">Email</label>
				<div class="flex flex-col gap-1">
					<p-iconfield class="grow">
						<input
							id="email"
							formControlName="email"
							type="text"
							pInputText
							variant="filled"
							placeholder="johndoe@gmail.com"
							class="grow w-full"
						/>
						<p-inputicon>
							<svg class="w-4.5" mail-icon></svg>
						</p-inputicon>
					</p-iconfield>
					@if (isInvalid('email', 'password')) {
						<p-message severity="error" size="small" variant="simple">{{
							getErrorMessage('email', 'password')
						}}</p-message>
					}
				</div>
			</div>
			<div class="flex flex-col gap-1 my-3">
				<div class="flex justify-between">
					<label for="password">Password</label>
					<a
						class="hover:underline hover:underline-offset-2"
						routerLink="/auth/forgot-password"
						>forgot password?</a
					>
				</div>
				<div class="flex flex-col gap-1">
					<p-password
						formControlName="password"
						[feedback]="false"
						class="[&>input]:grow"
						inputId="password"
						[toggleMask]="true"
						autocomplete="current-password"
						variant="filled"
						placeholder="password"
						[invalid]="isInvalid('password', 'password')"
					/>
					@if (isInvalid('password', 'password')) {
						<p-message severity="error" size="small" variant="simple">{{
							getErrorMessage('password', 'password')
						}}</p-message>
					}
				</div>
			</div>
			<button [loading]="isLoading" type="submit" pButton class="w-full mt-4">
				<span pButtonLabel>Login</span>
				<svg [class.hidden]="isLoading" class="w-7 text-white" arrow-right-icon></svg>
			</button>
		</form>
	</p-card>
	<p-divider class="[&>div]:bg-[#F8F9FF]!" align="center">
		<b>OR</b>
	</p-divider>
	<p class="text-center tracking-wider text-sm">
		Don't have an account?
		<a routerLink="/auth/sign-up" class="text-[#B52614] hover:underline underline-offset-2"
			>Sign Up</a
		>
	</p>
</div>
